.appBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px;
    background-color: #34495e;
    margin-bottom: 30px;
}

.userBlock {
    font-size: 17px;
    color: #fff;
    margin-left: 20%;
}

.userName {
    font-weight: 600;
    text-transform: uppercase;
}

.mainContent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}